/* GamePhoto.css */
.gamePhotoContainer {
  position: relative;
  width: 100%; /* Width can be 100% since images can be of different sizes */
  height: auto; /* Height can be auto since images can be of different sizes */
}

.gamePhotoContainer img {
  width: 100%;
  height: 100%;
}

.gamePhotoContainer:hover img {
}
