/* Allgames.css */
.gamesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* Auto-fit columns with minimum width of 140px */
    grid-gap: 10px; /* Gap between grid items */
  }
  
  .gamePhotoContainer {
    position: relative; /* Relative positioning for absolute child */
    width: 140px; /* Width of each photo container */
    height: 168px; /* Height of each photo container */
    overflow: hidden; /* Hide overflow */
  }
  
  .gamePhotoContainer img {
    width: 100%; /* Make image fill the container */
    height: 100%; /* Make image fill the container */
    transition: transform 0.3s; /* Add transition effect for hover */
  }
  
  .gamePhotoContainer:hover img {
    transform: scale(1.1); /* Scale image to 110% on hover */
  }
  