/* GamePhoto.css */
.gamePhotoContainer {
  position: relative;
  width: 100%; /* Width can be 100% since images can be of different sizes */
  height: auto; /* Height can be auto since images can be of different sizes */
  overflow: hidden;
}

.gamePhotoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  transition: transform 0.3s;
}

.gamePhotoContainer:hover img {
  transform: scale(1.1);
}
