/* MainPage.css */

.Gamecentr {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.block1,
.block2 {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gamecenter {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #000;
}

#opisgamecenter {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #000;
}

#yellowbt {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    width: 234px;
    height: 51px;
    box-shadow: 0 2px 12px 0 rgba(56, 72, 95, 0.49);
    background: #fe5e00;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

#firstphoto {
    width: 564px;
    height: 544px;
}

/* Добавленные стили для красивых стрелок */
.Slider {
    padding: 0; /* Убираем отступы для слайдера */
}


.Slider div img {
    width: 300px; /* Устанавливаем ширину каждой фотографии внутри блока */
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/* Media Queries для адаптивного дизайна */
@media (max-width: 768px) {
    .block1,
    .block2 {
        width: 100%;
    }

    #firstphoto {
        width: 100%;
        height: auto;
    }

    #gamecenter {
        font-size: 36px;
    }

    #opisgamecenter {
        font-size: 16px;
    }
}
